body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: #f9f9f9;
    color: #1b1f1f;
    
  }
  
  .name {
    text-align: center;
    color: #004080;
  }
  
  .contact {
    text-align: center;
    font-size: 14px;
  }
  
  h2 {
    color: #004080;
    background-color: #9fd6e7;
  }
  

  
  
  